<div class="card-grid-space" style="display: inline;">
    <a class="card" style="--bg-img: url('/images/utc2.jpg'); display: inline-block; margin-left: 10px;">
        <div>
            <h1>UTC2</h1>
            <!-- <ul style="list-style-type:square;">
                <li>Coor: đông tây nam bắc</li>
                <li>Start: 22 Nov 2019</li>
                <li>Last Record: </li>
            </ul> -->
            <div class="date">
                <img class="stt-icon" src="\images\active.svg" height="20" width="20" id="stt1icon">
                <span class="stt-txt" style="color: darkgreen;" id="stt1txt">Online</span>
                <!-- switch -->
                <div class="mid">
                    <label class="rocker rocker-small">
                        <input type="checkbox" id="stt1Sw" checked>
                        <span class="switch-left">ON</span>
                        <span class="switch-right">OFF</span>
                    </label>
                </div>
            </div>
        </div>
    </a>

    <table>
        <tr>
            <th>Sensor ID</th>
            <td>sensor1</td>
        </tr>
        <tr>
            <th>Sensor Name</th>
            <td>strain gauge</td>
        </tr>
        <tr>
            <th>Camera ID</th>
            <td>acer</td>
        </tr>
        <tr>
            <th>MAC</th>
            <td>B4:E6:2D:44:E5:B4</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>10.845806, 106.794524</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>450 Lê Văn Việt</td>
        </tr>
    </table>
</div>