<div class="card-grid-space" style="display: inline;">
    <a class="card" style="--bg-img: url('https://nld.mediacdn.vn/2014/ph%E1%BB%A5-4-c6030.jpg'); display: inline-block; margin-left: 10px;">
        <div>
            <h1>Thủ Đức</h1>
            <!-- <ul style="list-style-type:square;">
                <li>Coor: đông tây nam bắc</li>
                <li>Start: 22 Nov 2019</li>
                <li>Last Record: </li>
            </ul> -->
            <div class="date">
                <img class="stt-icon" src="\images\active.svg" height="20" width="20" id="stt1icon">
                <span class="stt-txt" style="color: darkgreen;" id="stt1txt">Online</span>
                <!-- switch -->
                <div class="mid">
                    <label class="rocker rocker-small">
                        <input type="checkbox" id="stt1Sw" checked>
                        <span class="switch-left">ON</span>
                        <span class="switch-right">OFF</span>
                    </label>
                </div>
            </div>
        </div>
    </a>

    <table>
        <tr>
            <th>Sensor ID</th>
            <td>sensor2</td>
        </tr>
        <tr>
            <th>Sensor Name</th>
            <td>strain gauge</td>
        </tr>
        <tr>
            <th>Camera ID</th>
            <td>raspi</td>
        </tr>
        <tr>
            <th>MAC</th>
            <td>B4:E6:2D:44:E5:B3</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>10.848621, 106.773583</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>1A Lê Văn Việt</td>
        </tr>
    </table>
</div>