/* profile card */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Arial';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1.4em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em #5bc995;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  /* border: 10px solid #ccc; */
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  /* background: rgba(255,255,255,0.5);
  border-radius: 0.3rem; */
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card .date .stt-ico {
	margin: -12px;
}

.card .date .stt-txt {
	font-size: 35px;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card-grid-space {
	width: fit-content;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* popup blur background */
.MainContainer {
	width: 100%;
	height: 1000px;
	/* text-align: center; */
	/* background: url("http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/10/mountains.jpg") no-repeat center center/cover; */
  }
  
  .is-blurred {
	filter: blur(2px);
	-webkit-filter: blur(2px);
  }
  
  .MainHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	margin-bottom: 30px;
	padding: 10px 0;
	background-color: #fff;
  }
  
  .Heading {
	font-size: 34px;
	font-weight: bold;
  }
  
  .btn {
	width: 150px;
	height: 50px;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	color: #fff;
	background-color: #4eaadd;
	cursor: pointer;
  }
  
  .btn:hover { background-color: #54b6ea; }
  
  /* Overlay */
  
  .Modal {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
  }
  
  .Modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border-radius: 4px;
	max-width: 300px;
	height: 450px;
  }
  
  .ModalOpen { overflow: hidden; }
  
  .is-hidden { display: none; }
  
  .is-visuallyHidden { opacity: 0; }
  
  /* The Close Button */
  
  .Close {
	color: #aaaaaa;
	float: right;
	font-size: 16px;
  }
  
  .Close:hover, .Close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  


/* Style slider */

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}


/* Style buttons */

.downloadbtn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}

.downloadbtn:hover {
	background-color: RoyalBlue;
}


/* Log out button  */

.btnLogout {
	border: 2px solid black;
	background-color: white;
	padding: 7px 14px;
	font-size: 16px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 5px;
}

.btnLogout:hover {
	background: #2196F3;
	color: white;
}

/* new template */

body {
	margin: 0;
	font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-left: 240px;
}

main {
	position: relative;
	height: 100vh;
}

main .helper {
	background: rgba(0, 0, 0, 0.2);
	color: #ffea92;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	padding: 1.2em 2em;
	text-align: center;
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
}

main .helper span {
	color: rgba(0, 0, 0, 0.2);
	font-size: 0.4em;
	display: block;
}

.menu {
	background: #5bc995;
	height: 100vh;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	outline: none;
}

.menu .avatar {
	background: rgba(0, 0, 0, 0.1);
	padding: 2em 0.5em;
	text-align: center;
}

.menu .avatar img {
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #ffea92;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.menu .avatar h2 {
	font-weight: normal;
	margin-bottom: 0;
}

.menu ul {
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
}

.menu ul li {
	padding: 0.5em 1em 0.5em 3em;
	font-size: 0.95em;
	font-weight: regular;
	background-repeat: no-repeat;
	background-position: left 15px center;
	background-size: auto 20px;
	transition: all 0.15s linear;
	cursor: pointer;
}

.menu ul li.icon-dashboard {
	background-image: url("http://www.entypo.com/images//gauge.svg");
}

.menu ul li.icon-customers {
	background-image: url("http://www.entypo.com/images//briefcase.svg");
}

.menu ul li.icon-users {
	background-image: url("http://www.entypo.com/images//users.svg");
}

.menu ul li.icon-settings {
	background-image: url("http://www.entypo.com/images//tools.svg");
}

.menu ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li:focus {
	outline: none;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
	body {
		padding-left: 90px;
	}
	.menu {
		width: 90px;
	}
	.menu .avatar {
		padding: 0.5em;
		position: relative;
	}
	.menu .avatar img {
		width: 60px;
	}
	.menu .avatar h2 {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 100px;
		margin: 0;
		min-width: 200px;
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.4);
		transform: translate3d(-20px, -50%, 0);
		transition: all 0.15s ease-in-out;
	}
	.menu .avatar:hover h2 {
		opacity: 1;
		transform: translate3d(0px, -50%, 0);
	}
	.menu ul li {
		height: 60px;
		background-position: center center;
		background-size: 30px auto;
		position: relative;
	}
	.menu ul li span {
		opacity: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		padding: 0.2em 0.5em;
		border-radius: 4px;
		top: 50%;
		left: 80px;
		transform: translate3d(-15px, -50%, 0);
		transition: all 0.15s ease-in-out;
	}
	.menu ul li span:before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid rgba(0, 0, 0, 0.5);
		transform: translateY(-50%);
	}
	.menu ul li:hover span {
		opacity: 1;
		transform: translate3d(0px, -50%, 0);
	}
}

@media screen and (max-width: 400px) {
	body {
		padding-left: 0;
	}
	.menu {
		width: 230px;
		box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
		transform: translate3d(-230px, 0, 0);
		transition: all 0.3s ease-in-out;
	}
	.menu .smartphone-menu-trigger {
		width: 40px;
		height: 40px;
		position: absolute;
		left: 100%;
		background: #5bc995;
	}
	.menu .smartphone-menu-trigger:before,
	.menu .smartphone-menu-trigger:after {
		content: '';
		width: 50%;
		height: 2px;
		background: #fff;
		border-radius: 10px;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
	.menu .smartphone-menu-trigger:after {
		top: 55%;
		transform: translate3d(-50%, -50%, 0);
	}
	.menu ul li {
		padding: 1em 1em 1em 3em;
		font-size: 1.2em;
	}
	.menu:focus {
		transform: translate3d(0, 0, 0);
		box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
	}
	.menu:focus .smartphone-menu-trigger {
		pointer-events: none;
	}
}